// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.test{
  height: 100vh;
  display: flex;
  align-items: center;
.login-box{
  min-height: 250px;

  .login-welcome{
    background: $cherry-coke;
    min-height: inherit;
    text-align: center;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    h2{
      color: $text-white;
    }
  }
  .login-form{
    min-height: inherit;
    background: lightgrey;
    padding: 0 30px;
  }
}
}
