.top-page-image{
  width: 100%;
  margin-bottom: -1300px;
  z-index: -1;
  position: fixed;
}

.content-container{
  margin: 0 auto;
  padding-left: 190px;
  padding-right: 35px;
  max-width: 1470px;
  .content-info{
    padding: 20px 0 0 30px;
    a{
      font-family: Poppins;
      font-size: 20px;
      letter-spacing: 1.8px;
      text-align: center;
      color: #ffffff;
      padding-left: 15px;
    }

    h1, h2, h3, h4{
      color: $text-white;
      margin: 0;
    }
    h4{
      margin-bottom: 20px;
    }
  }
  .content{
    background: $white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 6px 25px 0 rgba(0, 0, 0, 0.2);
    h3{
      color: $text-colour;
    }
    .content-item{
      border-bottom: solid 1px $cherry-pink;
      padding: 20px 0;

      label{
        padding: 20px;
        background-color: #fafafa;
        border: 2px solid $cherry-pink;
        border-radius: 100px;
        display: inline-block;
        position: relative;
      }

      input[type="checkbox"]{
        display: none;
      }
    }
  }

}