.content-patients{
	margin-top: 50px;
	box-shadow: 0 6px 25px 0 rgba(0, 0, 0, 0.2);
	background: $white;

	.patients-header{
		padding: 50px 100px;
		background: $soft-grey;
		border-radius: 5px 5px 0 0;
		input[type="text"]{
			width:60%;
		}
		ul{
			margin-top: 15px;
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;

			h2{
				margin: 0;
			}

			li{
				float: left;
				padding-right: 50px;
				font-family: Poppins;
			  font-size: 15px;
			  color: #3d1a22;
			}

			li a {
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 16px;
		    text-decoration: none;

			}
		}
	}
	.patient-items{
		padding: 0 100px 50px 100px;
		background: $white;

		.patients-item{
	    background: $white;
	    padding: 50px 0 70px 0;
	    border-bottom: 1px solid $cherry-pink;

	    img{
	    	margin-top: -20px;
	    	width: 50px;
	    	height: 50px;
	    	border: 2px solid $cherry-pink;
	    	border-radius: 100px;
	    	padding: 8px;
	    }
	  }
	}
	.subnav{
		height: 50px;
		line-height: 50px;
		border-radius: 0 100px 100px 0;
		background-color: #e2ccd1;

		a{
			font-family: Poppins;
		  font-size: 14px;
		  font-weight: 500;
		  color: #3d1a22;
		  padding-left: 10px; 
		}

		.active{
			font-weight: bold;
			border-radius: 100px;
	    background: #e2ccd1;
	    padding: 0 10px 35px 10px;
		}
	}

	.subnav-content{
		border-radius: 5px;
		border: solid 2px #e2ccd1;
		padding: 15px 0;
		margin: 30px 15px 15px 15px;
		min-height: 200px;
		height: 100%;

		ul{
			list-style-type: none;
			padding: 0;

			.active{
				background: $soft-red;
				
				a{
					color: $white;
				}
			}

			li{
				padding: 8px 0 8px 10px;
				a{
					font-family: Poppins;
				  font-size: 16px;
				  font-weight: 500;
				  line-height: 1.56;
				  color: #3d1a22;
				  padding: 10px 0;
				}				
			}
		}


	}

	.description{
		padding: 50px;

		.summary{
			margin-bottom: 100px;

			img{
			margin-left: 50px;
			}
		}


	}
}