.settings-header{
	@extend .patients-header;
	height: 140px;
	padding: 20px 50px !important;
	p{
		margin: 0
	}

	.icons{
		img{
		border: 2px solid #a19194;
		border-radius: 100px;
		padding: 8px;
		height: 45px;
		width: 45px;
		}
	}
}

.patients-item{

  label{
  height: 50px;
  margin-top: 40px;
  line-height: 50px;
  width: 100%;
  text-align: left;
  padding-left: 50px;
  background: $white;
  border: 1px solid grey;
  border-radius: 100px;
	}
}

.signup{
	padding-bottom: 200px !important;
	border: none !important;
	input[type="file"]{
		display: none;
	}
}