.settings-header{
	@extend .patients-header;
	height: 140px;
	padding: 20px 50px !important;

	.icons{
		img{
		border: 2px solid #a19194;
		border-radius: 100px;
		padding: 8px;
		height: 45px;
		width: 45px;
		}
	}
}