// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
body {
  box-sizing: border-box;
  background: no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

h1{
	font-family: poppins;
	font-size: 55px;
	line-height: 60px;
	color: #ffffff;
}

h2{
	font-family: Poppins;
	font-size: 23px;
	line-height: 30px;
	color: #3b1a22;
}

h3{
  font-family: Poppins;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}


h4{
	font-family: Poppins;
	font-size: 16px;
	line-height: 20px;
	color: #3a1a22;
}

p{
  font-family: Nunito;
  font-size: 16px;
  line-height: 20px;
  color: #3c1a22;
}