/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

h1{
	font-family: poppins;
	font-size: 55px;
	line-height: 60px;
	color: #ffffff;
}

h2{
	font-family: Poppins;
	font-size: 23px;
	line-height: 30px;
	color: #3b1a22;
}

h3{
  font-family: Poppins;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}


h4{
	font-family: Poppins;
	font-size: 16px;
	line-height: 20px;
	color: #3a1a22;
}

p{
  font-family: Nunito;
  font-size: 16px;
  line-height: 20px;
  color: $text-colour;
}