<%= render 'home/sidebar' %>

<%=image_tag("top-image.png", class: "top-page-image") %>

<div class="content-container">  
	
	<div class="content-info">
		<%= render 'home/gobackandsignout' %>

		<h2>Je bent hier:</h2>
		<h1>Notificaties</h1>
		<h3>Notificaties van zorgvragers</h3>
	</div>
	<div class="content">
		<div class="row headers">
			<div class="col-md-2"><h3>Datum</h3></div>
			<div class="col-md-4"><h3>Melding</h3></div>
			<div class="col-md-2"><h3>Zorgvrager</h3></div>
			<div class="col-md-2"></div>
			<div class="col-md-2"><h3>Afgehandeld?</h3></div>
		</div>
		<div class="row content-item">
			<div class="col-md-2"><p>11-11-11</p></div>
			<div class="col-md-4"><p>Laser Eye Surgery A Risk Analysis For My Daughter</p></div>
			<div class="col-md-2"><p>Karen Wiersma</p></div>
			<div class="col-md-2">
				<a href="#" class="hvr-grow button-white">Bekijken</a>
			</div>
			<div class="col-md-2" style="text-align: center;">
				<label for="checkbox-1"></label>
				<input type="checkbox" id="checkbox-1">
			</div>
		</div>
		<div class="row content-item">
			<div class="col-md-2"><p>11-11-11</p></div>
			<div class="col-md-4"><p>Laser Eye Surgery A Risk Analysis For My Daughter</p></div>
			<div class="col-md-2"><p>Karen Wiersma</p></div>
			<div class="col-md-2">
				<a href="#" class="hvr-grow button-white">Bekijken</a>
			</div>
			<div class="col-md-2" style="text-align: center;">
				<label for="checkbox-1"></label>
				<input type="checkbox" id="checkbox-1">
			</div>
		</div>
	</div>
</div>
