<%= render 'home/sidebar' %>

<%=image_tag("top-image.png", class: "top-page-image") %>

<div class="content-container">  
	
	<div class="content-info">
		<%= link_to (raw('Uitloggen')), destroy_user_session_path, :method => :delete, class:"pull-right" %>
		<h4>< Ga terug</h4>
		<h2>Je bent hier:</h2>
		<h1>Instellingen</h1>
		<h3>Instellingen van de applicatie</h3>
	</div>
	<div class="content">
		<div class="row">

		</div>
	</div>
</div>
