// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
input[type=submit]{
	width: 180px;
	height: 45px;		
	background: $cherry-orange;
	color: $text-white;
	text-transform: uppercase;
	border: none;
	border-radius: 100px;
	padding: 10px 15px;
}

button{

}
