// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
input[type=submit]{
	width: 180px;
	height: 45px;		
	background: $cherry-orange;
	color: $text-white;
	text-transform: uppercase;
	border: none;
	border-radius: 100px;
	padding: 10px 15px;
}

button{
	width: 180px;
	height: 50px;
	border-radius: 100px;
	box-shadow: none;

	img{
		width: 25px;
	}
}

.button-soft{
	background: $cherry-orange;
	color: $text-white;
}

.button-bright{
	color: $text-white;
	background-image: linear-gradient(to top, #c5175c, #ce2f53) !important;
	border: none;
}

.button-white{
	background: $white;
	color: $cherry-pink;
	border: 2px solid $cherry-pink;
}

.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	padding: 14px 53px;
	border-radius: 100px;
	text-align: center;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	text-decoration: none;
}