// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
input[type=submit]{
	width: 180px;
	height: 45px;		
	background: $cherry-orange;
	color: $text-white;
	text-transform: uppercase;
	border: none;
	border-radius: 100px;
	padding: 10px 15px;
}

button{
	width: 180px;
	height: 50px;
	border-radius: 100px;
	box-shadow: none;

	img{
		width: 25px;
	}
}

.button-soft{
	@extend button;
	background: $cherry-orange;
	color: $text-white;
}

.button-bright{
	@extend button;
	color: $text-white;
	background-image: linear-gradient(to top, #c5175c, #ce2f53) !important;
	border: none;
}

.button-white{
	@extend button;
	background: $white;
	color: $cherry-pink;
	border: 2px solid $cherry-pink;
}